:root {
  --black: #232322;
  --white: #fff;
  --eggshell: rgb(255, 255, 255);

  --yellow: #ffed00;

  --body-bg: var(--white);
  --body-color: var(--black);

  --link-color: var(--deep-ocean-blue);
  --link-color-hover: var(--deep-ocean-blue);
  --link-color-active: var(--deep-ocean-blue);
}
